@import 'tailwindcss';

:root {
  --radius: 0.5rem;
  --background: oklch(0.982 0 161.565);
  --foreground: oklch(0.244 0 169.695);
  --muted: oklch(0.952 0 165.964);
  --muted-foreground: oklch(0.503 0 180);
  --popover: oklch(0.991 0 180);
  --popover-foreground: oklch(0.244 0 169.695);
  --card: oklch(0.991 0 180);
  --card-foreground: oklch(0.244 0 169.695);
  --border: oklch(0.882 0 180);
  --input: oklch(0.955 0 180);
  --primary: oklch(0.689 0.19 45.166);
  --primary-foreground: oklch(1 0 180);
  --secondary: oklch(0.92 0.065 74.362);
  --secondary-foreground: oklch(0.35 0.069 40.827);
  --accent: oklch(0.931 0 171.254);
  --accent-foreground: oklch(0.244 0 169.695);
  --destructive: oklch(0.627 0.194 33.336);
  --destructive-foreground: oklch(1 0 180);
  --ring: oklch(0.745 0.132 54.33);
  --chart-1: oklch(0.689 0.19 45.166);
  --chart-2: oklch(0.92 0.065 74.362);
  --chart-3: oklch(0.931 0 171.254);
  --chart-4: oklch(0.936 0.052 74.572);
  --chart-5: oklch(0.693 0.195 44.608);
}

.dark {
  --radius: 0.5rem;
  --background: oklch(0.178 0 180);
  --foreground: oklch(0.949 0 180);
  --muted: oklch(0.252 0 180);
  --muted-foreground: oklch(0.77 0 141.34);
  --popover: oklch(0.213 0 168.69);
  --popover-foreground: oklch(0.949 0 180);
  --card: oklch(0.213 0 168.69);
  --card-foreground: oklch(0.949 0 180);
  --border: oklch(0.235 0.011 90.394);
  --input: oklch(0.402 0 195.945);
  --primary: oklch(0.689 0.19 45.166);
  --primary-foreground: oklch(1 0 180);
  --secondary: oklch(0.258 0.045 60.789);
  --secondary-foreground: oklch(0.925 0.052 66.177);
  --accent: oklch(0.285 0 168.69);
  --accent-foreground: oklch(0.949 0 180);
  --destructive: oklch(0.627 0.194 33.336);
  --destructive-foreground: oklch(1 0 180);
  --ring: oklch(0.541 0.116 50.039);
  --chart-1: oklch(0.689 0.19 45.166);
  --chart-2: oklch(0.258 0.045 60.789);
  --chart-3: oklch(0.285 0 168.69);
  --chart-4: oklch(0.294 0.053 60.297);
  --chart-5: oklch(0.693 0.195 44.608);
}

@theme {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --font-suit: var(--font-suit);
  --font-suite: var(--font-suite);

  --color-normal: #949495;
  --color-fire: #e56c3e;
  --color-water: #5185c5;
  --color-grass: #66a945;
  --color-electric: #ebce3d;
  --color-ice: #6dc8eb;
  --color-fighting: #e09c40;
  --color-poison: #735198;
  --color-ground: #9c7743;
  --color-flying: #a2c3e7;
  --color-psychic: #dd6b7b;
  --color-bug: #9fa244;
  --color-rock: #bfb889;
  --color-ghost: #684870;
  --color-dragon: #535ca8;
  --color-dark: #4c4948;
  --color-steel: #69a9c7;
  --color-fairy: #dab4d4;
  --color-unknown: #a21caf;

  --color-border-normal: #7e7e7f;
  --color-border-fire: #c35c35;
  --color-border-water: #4571a7;
  --color-border-grass: #57903b;
  --color-border-electric: #c8af34;
  --color-border-ice: #5daac8;
  --color-border-fighting: #be8536;
  --color-border-poison: #624581;
  --color-border-ground: #856539;
  --color-border-flying: #8aa6c4;
  --color-border-psychic: #bc5b69;
  --color-border-bug: #878a3a;
  --color-border-rock: #a29c74;
  --color-border-ghost: #583d5f;
  --color-border-dragon: #474e8f;
  --color-border-dark: #413e3d;
  --color-border-steel: #5990a9;
  --color-border-fairy: #b999b4;
  --color-border-unknown: #a21caf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
